body{
  margin:0;
  font-family:Arial;
  background:#f4f6f8;
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 20px;
  background:#0a3d62;
  color:white;
}

.logo{
  font-weight:bold;
  font-size:18px;
}

.btn{
  background:#e84118;
  color:white;
  padding:10px 15px;
  text-decoration:none;
  border-radius:5px;
}

/* HERO */
.hero{
  text-align:center;
  padding:80px 20px;
  background:linear-gradient(135deg,#74b9ff,#0984e3);
  color:white;
}

.hero h1{
  font-size:32px;
}

/* SERVICES */
.services{
  padding:50px 20px;
  text-align:center;
}

.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
  gap:15px;
  margin-top:20px;
}

.card{
  background:white;
  padding:20px;
  border-radius:10px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
}

/* ABOUT */
.about{
  text-align:center;
  padding:40px 20px;
  background:white;
}

/* FOOTER */
footer{
  text-align:center;
  padding:15px;
  background:#0a3d62;
  color:white;
}
